@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

:root {
  --secondary-background-color: rgba(245, 245, 245, 0.6);
  --list-seperation-color: rgba(245, 245, 245, 0.6);
  --button-color: #fc999b;
  --color1: white;
  --color2: black;
  --font-weight: bold;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: normal normal 13px/16px 'Open Sans', sans-serif;
  font-weight: 400;
  background: linear-gradient(red, transparent), linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
}

.container {
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  background: var(--secondary-background-color);
  border-style: solid;
  border-radius: 45px;
  border-width: 5px;
  border-color: var(--color1);
}

form {
  display: inline-block;
}

input {
  padding: 4px 5px 4px 5px;
}

input[type='text'] {
  width: 290px;
}

#button {
  display: inline-block;
  background-color: var(--button-color);
  color: var(--color1);
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: var(--color2);
  font-weight: 700;
}

ol li:nth-child(even) {
  background: var(--list-seperation-color);
}

.strike {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}

.delete {
  display: none;
}

li > crossOutButton {
  background: none;
  border: none;
  float: right;
  color: var(--color1);
  background-color: var(--button-color);
  font-weight: 700px;
  border-style: solid;
  border-radius: 50%;
  padding-left: 4px;
  padding-right: 4px;
}
